
/* Variables */
:root {
    /* scale Variables */
    --max-width: 47.5rem;

    /* color Variables */
    --background: white;
    --text-color: #0C0F11;
    --border-color: #ccc;
    --name-color: #333;
    --btn-color: #cfd0d1;

}

body.dark-mode {
    --background: #0C0F11;
    --text-color: white;
    --border-color: #ccc;
    --border-color-hover: #999;
    --btn-color: #353b40;
}


body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



/* Add styling for the subtext */
.subtext {
    font-size: 13px; /* Adjust the font size as needed */
    font-weight: normal; /* Or use 'font-style: italic;' for italic styling */
    color: var(--border-color); 
    display: block; /* Make the subtext span a block element */
    margin-bottom: 5px; /* Add some spacing between the subtext and the name */
}

/* Style for the name */
.name {
    font-size: 24px; 
    font-weight: bold; 
    color: var(--name-color); 
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    padding: 20px 20px 20px 0; /* Updated padding */
    text-align: left;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

nav ul {
    display: flex; /* Add this line */
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center; /* Center vertically */
    gap: 10px; /* Spacing between list items */
}


nav ul li {
    display: inline-block;
}

nav ul li.right {
    margin-left: auto; /* Move the button to the right */
}


nav ul li a {
    color: #0C0F11;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-section .profile-text {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.profile-section .profile-text h1{
   font-size: 30px;
}

.profile-section img {
    display: block;
    max-width: 100px; /* Updated size */
    border-radius: 50%;
}


.text-section {
    margin-bottom: 20px;
    text-align: left;
}


.about-link {
    display: inline-block;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    margin-bottom: 20px;
}

.about-link:hover {
    border-color: var(--border-color-hover); /* Border color on hover */
}


.text-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.project-box {
    width: 13rem;
    padding: 10px;
    border: 2px solid var(--border-color);
    color: var(--text-color-light);
    border-radius: 10px;
    text-align: left;
    background-color: var(--background-light);
    transition: border-color 0.3s, background-color 0.3s;
}

.project-box:hover {
    border-color: var(--border-color-hover);
}

.project-box h3 {
    margin-top: 0;
}

.project-box p {
    margin-bottom: 0;
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    margin-top: auto;
}

.footer-left {
    font-size: 14px;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.footer-right a:hover {
    opacity: 0.8;
}

.white-color {
    color:white !important;
}

.btn {
    border: 0px solid black;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--btn-color);
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn:hover, btn:focus, btn:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn i.fa-sun {
    color: white;
}

