*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body
{
    width: 100%;
    min-width: 100vh;
    overflow-x: hidden;
    background-color: #347444;
}

h1
{
    padding: 60px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Courier New';font-size: 22px;
    
}


.center {
    text-align: center;
  }

.main
{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 300px));
    column-gap: 10px;
    row-gap: 10px;
}

img {
   width: 300px;
   height: 300px;
   object-fit: cover;
   object-position: center; 
}