@import url('profile-section.css');
@import url('profile-projects.css');
@import url('footer.css');

/* Variables */
:root {
    /* scale Variables */
    --max-width: 47.5rem;

    /* color Variables */
    --background: white;
    --text-color: #0C0F11;
    --border-color: #ccc;
    --name-color: #333;
    --btn-color: #cfd0d1;
    --secondary-txt-color: #7b7b7b;

}

body.dark-mode {
    --background: #0C0F11;
    --text-color: white;
    --border-color: #ccc;
    --border-color-hover: #999;
    --btn-color: #353b40;
    --secondary-txt-color: #d5d5d5;
}


body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



/* Add styling for the subtext */
.subtext {
    font-size: 13px; /* Adjust the font size as needed */
    font-weight: normal; /* Or use 'font-style: italic;' for italic styling */
    color: var(--secondary-txt-color); 
    display: block; /* Make the subtext span a block element */
    margin-bottom: 5px; /* Add some spacing between the subtext and the name */
}

/* Style for the name */
.name {
    font-size: 24px; 
    font-weight: bold; 
    color: var(--name-color); 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    padding: 20px 20px 20px 0; /* Updated padding */
    text-align: left;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

nav ul {
    display: flex; /* Add this line */
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center; /* Center vertically */
    gap: 10px; /* Spacing between list items */
}


nav ul li {
    display: inline-block;
}

nav ul li.right {
    margin-left: auto; /* Move the button to the right */
}


nav ul li a {
    color: #0C0F11;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}


.text-section {
    margin-bottom: 40px;
    text-align: left;
}


.text-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.white-color {
    color:white !important;
}

/* nightmode switch button */
.btn {
    border: 0px solid black;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--btn-color);
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.read-more-link {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: var(--secondary-txt-color); 
    text-decoration: none;
    font-style: italic;
    transition: opacity 0.3s;
}

.read-more-link:hover {
    opacity: 0.8;
}

/* Little grow animation when hovering */
.btn:hover, btn:focus, btn:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn i.fa-sun {
    color: white;
}

