body {
    background-color: #0C0F11;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    padding: 20px;
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li.right {
    float: right;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.profile-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-section img {
    display: block;
    margin-right: 20px;
    max-width: 100px; /* Adjust the size as needed */
    border-radius: 50%;
}

.profile-section .profile-text {
    text-align: left;
    flex-grow: 1;
}

.text-section {
    margin-bottom: 20px;
}

.text-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-top: auto;
}

.footer-left {
    font-size: 14px;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.footer-right a:hover {
    opacity: 0.8;
}